<h1>Editing structure</h1>

<%= start_form_tag :action => 'update_structure', :id => @struct %>
  <%= render_partial 'sform' %>
  <%= submit_tag 'Edit' %>
<%= end_form_tag %>

<%= link_to 'Show', :action => 'show', :id => @struct %> |
<%= link_to 'Back', :action => 'list' %>
