<%= error_messages_for 'quotes' %>

<!--[form:quotes]-->
<p><label for="quotes_author">Author</label><br/>
<%= text_field 'quotes', 'author'  %></p>

<p><label for="quotes_quote">Quote</label><br/>
<%= text_area 'quotes', 'quote'  %></p>
<!--[eoform:quotes]-->

