<html>
    <head>
        <title><%= @page_title|| "Common Consensus" %></title>
        <%= stylesheet_link_tag "narrate", :media => "all" %>
        <%= javascript_include_tag "prototype", "effects", "dragdrop", "controls" %>
        
        <META HTTP-EQUIV="Pragma" CONTENT="no-cache">
	    <META HTTP-EQUIV="Expires" CONTENT="-1">
	         <META NAME="GOOGLEBOT" CONTENT="NOARCHIVE">
	   <% if @page_title != "Feedback Page" %>
	    <META HTTP-EQUIV="CACHE-CONTROL" CONTENT="NO-CACHE">
	    <meta http-equiv="refresh" content="<%=@next%>+2" url="http://yuggoth.media.mit.edu:3000/feud/game1">         
      
             
             <script>
             <!--
			  function getel(id) {
			    if (document.getElementById) {
			      return document.getElementById(id);
			    } else if (window[id]) {
			      return window[id];
			    }
			    return null;
			  }
			
			  var countdownfrom=<%= @next %>
			  var currentsecond=countdownfrom;      
			  
			
			  function showDebug() {
			    if (getel('debug_info').style.display == 'none') {
			   	  getel('debug_info').style.display = 'inline';
			    } else {
			      getel('debug_info').style.display = 'none';
			    }
			  }  
			
			
			  var tid = setInterval('updateTimeView()', 1000);
			  function updateTimeView()
			  {
				if (currentsecond >= 1)
				{
					currentsecond -= 1
			    	getel('ChangeMe').innerHTML=currentsecond;
					// if @request_page == "display_questions" %>
					getel('ScoreBar').style.width=currentsecond*5;
			    	// end %>
				}
			    else
			    {
			    	currentsecond = 0
			    	clearInterval(tid);
			    	//window.location.reload(); 
			    	window.location.replace('http://yuggoth.media.mit.edu:3000/feud/game1');
    				//window.location.href = "target.html"
			    	tid = setInterval('updateTimeView()', 10000);
			    	
				}
			  } 
			
			
			  function reloadTry (time)
			  {
			   	window.location.reload(); 
			     //tid = 	setInterval(reloadTry(time), time*100)
			  } 
			  //-->
     </script>
     
     <% end %>
    </head>
    
    
    <body>
	
		<span id="header">
			    <li><%=link_to("<span>About</span>", :controller => "goals", :action => "about")%></li>
			  <li><%= link_to("<span>Help</span>", :controller => "goals", :action => "faq")%></li>
		        <li><%= link_to("<span>Games</span>", :controller => "goals", :action => "index")%></li> 

			  <% if @session[:user] %>
			     <li><%= link_to("<span>Logout</span>", :controller => "Account", :action => "logout") %></li>
		       	 <% else %>
			     <li><%= link_to("<span>Login</span>",:controller => "Account", :action => "login") %></li>
			     <li><%= link_to("<span>Sign up</span>", :controller => "Account", :action => "signup")%></li>
			 <% end %>
		</span>							
        <div id="main"> 

<!---
<b>Thanks for playing, please <a href="http://yuggoth.media.mit.edu:3000/feud/give_feedback">fill out the survey</a> if you haven't already!  Thanks again!!! Dustin
-->


	<br><br>
		<a href="http://yuggoth.media.mit.edu:3000"><img src="http://yuggoth.media.mit.edu:3000/narrative.gif" border=0"></a>
	
		  
	
	       <% if flash[:notice]%>
		    <div id="notice"><%= flash[:notice] %></div>
		    <% flash[:notice] = nil %>
       	 <% end%>
	
	
	
	<!-- Development Stuff -->
	<% if ENV['RAILS_ENV'] == 'development' %>
    <div id="debug" style="margin: 40px 5px 5px 5px;">
        <a href="#de-bug" onClick="javascript:showDebug();" style="text-decoration: none; color: #ccc;">Show Debug Info &#10162;</a>
        <div id="debug_info" style="display: none;">
            <%= debug session %>
            <%= debug params %>
        </div>
    </div>
	<% end %>
            
           
	<%= @content_for_layout %>
     </div> <div id="footer">2007 / Commonsense Computing @ MIT Media Lab <% if @session[:user] %><% if (@session[:user].login == "dustin" or @session[:user].login == "alea") %> <%= link_to("!", :controller => "admin", :action => "index") %> </font></center><% end %><% end %></div>
    </body>
</html>
