<html>
<head>
  <title>NarrateGame::WIKI <%= controller.action_name %></title>
  <%= stylesheet_link_tag 'scaffold' %>
</head>
<body>

<p style="color: green"><%= flash[:notice] %></p>

<%= @content_for_layout %>
| <%= link_to("Home", :controller => "goals", :action => "index") %>
</body>
</html>
