<% for column in Quotes.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @quotes.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @quotes %> |
<%= link_to 'Back', :action => 'list' %>
