
{% extends "base.html" %}

{% block content %}

<h2>Games</h2>

{#
{{ current_game.status("test") }}
{{ current_game.answers }}
{{ current_game.question_string }}
#}
<form action="/delete_by_key/" method="POST">
<input type="hidden" name="return" value="/game">

<table class="table">
<thead>
        <tr>
          <th>  </th>
          <th> Name </th>
          <th> Times Played </th>
          <th> Seconds since played</th>
  </tr>
</thead>
{% for game in games %}
  <tr>
          <td> <input type="checkbox" name="entry" value="{{game.key.urlsafe()}}"> </td>
          <td> {{ game.question_string|safe }} </td>
          <td> {{ game.times_played }} </td>
          <td> {{ game.duration() }} </td>
  </tr>
{% endfor %}
</table>
<div class="btn-group">
        <button class="btn btn-danger" name="Delete">Delete</button> &nbsp;
        <a href="/game/create" role="button" class="btn btn-primary" data-toggle="modal">Generate New Game</a>
</div>
</form>

{% endblock content %}
