<%= error_messages_for 'struct' %>

<!--[form:user]-->
<p><label for="struct_name">Name</label><br/>
<%= text_field 'struct', 'name'  %></p>

<p><label for="struct_term1">Expression</label><br/>
<%= text_field 'struct', 'expression', :size => 100 %></p>

<p><label for="struct_stype">Type</label><br/>
<%= text_field 'struct', 'stype'  %></p>


<!--[eoform:user]-->

