

Please wait while we score your answers.<br>
<span id=ChangeMe><b><%= @next %></b></span> seconds left<br>

<br><Br><br>
    
    <p align=center><Table border=0>
            <tr><td><h3>"<%= @quote.quote %>"</h3></td><tr><td align="right"><BR> -- <%= @quote.author %></td></tr></table></p>



<Br>