<html>
    <head>
        <title><%= @page_title|| "Narrate Game" %></title>
        <%= stylesheet_link_tag "narrate", :media => "all" %>
        <%= javascript_include_tag "prototype", "effects", "dragdrop", "controls" %>
        
        <META HTTP-EQUIV="Pragma" CONTENT="no-cache">
	    <META HTTP-EQUIV="Expires" CONTENT="-1">
	         <META NAME="GOOGLEBOT" CONTENT="NOARCHIVE">
	   <% if @page_title != "Feedback Page" %>
	    <META HTTP-EQUIV="CACHE-CONTROL" CONTENT="NO-CACHE">
	    <meta http-equiv="refresh" content="<%=@next%>+2" url="http://xoth.media.mit.edu:54321/feud/game1">         
      
             
             <script>
             <!--
			  function getel(id) {
			    if (document.getElementById) {
			      return document.getElementById(id);
			    } else if (window[id]) {
			      return window[id];
			    }
			    return null;
			  }
			
			  var countdownfrom=<%= @next %>
			  var currentsecond=countdownfrom;      
			  
			
			  function showDebug() {
			    if (getel('debug_info').style.display == 'none') {
			   	  getel('debug_info').style.display = 'inline';
			    } else {
			      getel('debug_info').style.display = 'none';
			    }
			  }  
			
			
			  var tid = setInterval('updateTimeView()', 1000);
			  function updateTimeView()
			  {
				if (currentsecond >= 1)
				{
					currentsecond -= 1
			    	getel('ChangeMe').innerHTML=currentsecond;
			    	
				}
			    else
			    {
			    	currentsecond = 0
			    	clearInterval(tid);
			    	//window.location.reload(); 
			    	window.location.replace('http://xoth.media.mit.edu:54321/feud/game1');
    				//window.location.href = "target.html"
			    	tid = setInterval('updateTimeView()', 10000);
			    	
				}
			  } 
			
			
			  function reloadTry (time)
			  {
			   	window.location.reload(); 
			     //tid = 	setInterval(reloadTry(time), time*100)
			  } 
			  //-->
     </script>
     
     <% end %>
    </head>
    
    
    <body>
	
	<span id="top" align="right">
	<table width="560" height="40"  align="right">
		<tr>
		
		<td align="right" valign="top">
		<span id="tabs">
		  <ul>
		    <li><%=link_to("<span>About</span>", :controller => "goals", :action => "about")%></li>
	            <li><%= link_to("<span>Play Games</span>", :controller => "goals", :action => "index")%></li> 
	    
		  
		  <% if @session[:user] %>
		     <li><%= link_to("<span>Logout</span>", :controller => "Account", :action => "logout") %></li>
	       	 <% else %>
		     <li><%= link_to("<span>Login</span>",:controller => "Account", :action => "login") %></li>
		     <li><%= link_to("<span>Sign up</span>", :controller => "Account", :action => "signup")%></li>
		 <% end %>
		  
		  </ul>
	         </span></td>
		 <td width="150">&nbsp;</td>
		 </tr>
		  </table></span>											
        <div id="main"> 



		<a href="http://xoth.media.mit.edu:54321"><img src="narrative.gif" border=0"></a>
	
		  
	
	       <% if flash[:notice]%>
		    <div id="notice"><%= flash[:notice] %></div>
		    <% flash[:notice] = nil %>
       	 <% end%>
	
	
	
	<!-- Development Stuff -->
	<% if ENV['RAILS_ENV'] == 'development' %>
    <div id="debug" style="margin: 40px 5px 5px 5px;">
        <a href="#de-bug" onClick="javascript:showDebug();" style="text-decoration: none; color: #ccc;">Show Debug Info &#10162;</a>
        <div id="debug_info" style="display: none;">
            <%= debug session %>
            <%= debug params %>
        </div>
    </div>
	<% end %>
            
           
	<%= @content_for_layout %>
     </div> <div id="footer">2006 / MIT Media Lab / Dustin Smith and Alea Teeters <% if @session[:user] %><% if (@session[:user].login == "dustin" or @session[:user].login == "alea") %> <%= link_to("!", :controller => "admin", :action => "index") %> </font></center><% end %><% end %></div>
    </body>
</html>
