<html>
    <head>
        <title><%= @abc || "Narrate Game" %></title>
        <%= stylesheet_link_tag "narrate", :media => "all" %>
        <%= javascript_include_tag "prototype", "effects", "dragdrop", "controls" %>
        
        <META HTTP-EQUIV="Pragma" CONTENT="no-cache">
	    <META HTTP-EQUIV="CACHE-CONTROL" CONTENT="NO-CACHE">

        <META NAME="GOOGLEBOT" CONTENT="NOARCHIVE">
 
    </head>
    
    
    <body>
	
	<div id="top" align="right">
	<table width="460" height="40"  align="right">
		<tr>
		
		<td align="right" valign="top">
		<div id="tabs">
		  <ul>
		    <li><%=link_to("<span>About</span>", :controller => "goals", :action => "about")%></li>
	            <li><%= link_to("<span>Play Games</span>", :controller => "goals", :action => "index")%></li> 
	            <li><a href="http://epsilon.media.mit.edu:7070/narrate/show/HomePage"><span>Wiki</span></a></li>
		  
		  <% if @session[:user] %>
		     <li><%= link_to("<span>Logout</span>", :controller => "Account", :action => "logout") %></li>
	       	 <% else %>
		     <li><%= link_to("<span>Login</span>",:controller => "Account", :action => "login") %></li>
		     <li><%= link_to("<span>Sign up</span>", :controller => "Account", :action => "signup")%></li>
		 <% end %>
		  
		  </ul>
	         </div></td>
		 <td width="50">&nbsp;</td>
		</tr>  </table></div>											
        <div id="main"> 



		<a href="http://epsilon.media.mit.edu:3000"><img src="http://epsilon.media.mit.edu:3000/narrative.gif" border=0"></a>
	
		  
	
	       <% if flash[:notice]%>
		    <div id="notice"><%= flash[:notice] %></div>
		    <% flash[:notice] = nil %>
       	 <% end%>
	
	
	
	<!-- Development Stuff -->
	<% if ENV['RAILS_ENV'] == 'development' %>
    <div id="debug" style="margin: 40px 5px 5px 5px;">
        <a href="#de-bug" onClick="javascript:showDebug();" style="text-decoration: none; color: #ccc;">Show Debug Info &#10162;</a>
        <div id="debug_info" style="display: none;">
            <%= debug session %>
            <%= debug params %>
        </div>
    </div>
	<% end %>
            
           
	<%= @content_for_layout %>
     </div> <div id="footer">2006 / MIT Media Lab / Dustin Smith and Alea Teeters <% if @session[:user] %><% if (@session[:user].login == "dustin" or @session[:user].login == "alea") %> <%= link_to("!", :controller => "admin", :action => "index") %> </font></center><% end %><% end %></div>
    </body>
</html>
