


         	  

      
<input id="newguess" name="newguess[name]" width="400" size="43" type="text" value="" tabindex="0" autocomplete="off"> <%= submit_tag "Add" %>


<script type="text/javascript">
document.getElementById('newguess').focus();
document.getElementById('newguess').value="";
</script>

<%= end_form_tag %>
     

